@import "tailwindcss";

@layer utilities {
  .transform-gpu {
    transform: translateZ(0);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee linear infinite;
}